@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    Tallinn<br />
    Estonia<br />
    <strong>Phone: </strong>+372 58257025
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mailis.toompuu@gmail.com">mailis.toompuu@gmail.com</a><br />
</address>
